<html>
  <head>
    <title>Navegacion del ROV</title>
    <style>
      table {
        border-collapse: collapse;
        width: 70%;
        table-layout: fixed ;
        border: 2px solid;
      }
      th, td {
        text-align: center;
        padding: 5px;
        border: 2px solid
      }
      tr:nth-child(odd) {
        background-color: #ffe5c8;
      }
      .center {
  		  margin-left: auto;
 		    margin-right: auto;
      }	
    </style>
  </head>
  <body style = "text-align:center;">
    <h1>Navegación del ROV</h1>
    
    <p id="gamepad-info">Esperando al Gamepad. Presione cualquier botón para comenzar.</p>

    <img src="/cam1">
    <hr>
    <table class="center">
      <tr>
        <th>Profundidad [m]</th>
        <th>Velocidad de los propulsores [RPM]</th>
        <!-- <th>Velocidad [m/s]</th>
        <th>Orientación </th>
        <th>Tiempo de operación [s] </th> -->
      </tr>
      <tr>
        <td id="depth">-0.2</td>
        <td id="prop">0</td>
        <!-- <td id="speed">0</td>
        <td id="yaw">31.25°</td>
        <td id="time">06:02:34.26</td> -->
      </tr>
    </table>
    <script src="{{url_for('static', filename='botones.js')}}"></script>

  </body>
  
</html>