<html>
  <head>
    <title>Navegacion del ROV</title>
    <style>
      table {
        border-collapse: collapse;
        width: 70%;
        table-layout: fixed ;
        border: 2px solid;
      }
      th, td {
        text-align: center;
        padding: 5px;
        border: 2px solid
      }
      tr:nth-child(odd) {
        background-color: #ffe5c8;
      }
      .center {
  		  margin-left: auto;
 		    margin-right: auto;
      }	
    </style>
  </head>
  <body style = "text-align:center;">
    <h1>Navegación del ROV</h1>
    <img src="https://static.thenounproject.com/png/1817714-200.png">
    <img src="https://t3.ftcdn.net/jpg/02/49/92/08/360_F_249920846_YMeLv8S4WMtg4FBR2iss5b2s1DjVceq1.jpg">
    <img src="/cam1">
    <hr>
    <table class="center">
      <tr>
        <th>Profundidad [m]</th>
        <th>Velocidad [m/s]</th>
        <th>Orientación </th>
        <th>Hora </th>
      </tr>
      <tr>
        <td id="depth">-0.2</td>
        <td id="speed">0</td>
        <td id="yaw">31.25°</td>
        <td id="time">06:02:34.26</td>
      </tr>
    </table>
  </body>
</html>