<html>
  <head>
    <title>ROV</title>
    <style>
      table {
        border-collapse: collapse;
        width: 70%;
        table-layout: fixed ;
        border: 2px solid;
      }
      th, td {
        text-align: center;
        padding: 5px;
        border: 2px solid
      }
      tr:nth-child(odd) {
        background-color: #ffe5c8;
      }
      .center {
  		  margin-left: auto;
 		    margin-right: auto;
      }	
    </style>
  </head>

  <body style = "text-align:center;">
    <h1>Cámara del ROV</h1>
    <img src="/cam1">
    <img src="/cam2">

    <hr>
    <h1>Datos de la sonda</h1>
    <table class="center">
      <tr>
        <th>Presión [dbar]</th>
        <th>Temperatura [°C]</th>
        <th>Conductividad [mS/cm]</th>
        <th>Salinidad [ppt]</th>
        <th>Saturación de O2 [%]</th>
        <th>Concentración de O2 [ppm]</th>
        <th>pH</th>
        <th>Hora</th>
        <th>Profundidad [m]</th>
      </tr>
      <tr>
        <td id="press">0</td>
        <td id="temp">0</td>
        <td id="cond">0</td>
        <td id="sal">0</td>
        <td id="O2sat">0</td>
        <td id="O2ppm">0</td>
        <td id="pH">0</td>
        <td id="time">0</td>
        <td id="depth">0</td>
      </tr>
    </table>

    <a href="/navegacion">Navegación</a> 
  </body>

<script src="{{url_for('static', filename='tabla_sonda.js')}}"></script>
</html>